* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-family: "Ysabeau Office", sans-serif;
    background-color: #fcfcfa;
    overflow-x: hidden!important;
}

.margin_menu {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 3.2em;
    font-family: "Ysabeau Office", sans-serif!important;
}

.consultazione_title {
    font-size: 2.3em!important;
    font-weight: 700!important;
    color: #ae5b34!important;
    margin-bottom: 20px!important;
}

.titolo_2 {
    margin-top: 50px!important;
    margin-left: 20px;
    width: 76.5%;
    text-align: left!important;
}

.titolo_1 {
    margin-top: 30px;
    width: 75.5%;
}

.titolo_3 {
    width: 100%;
}

.consultazione_paragraph,
ol {
    width: 75%;
}

.titolo_1,
.titolo_2,
.titolo_3 {
    padding-bottom: 13px;
}


/* Media Queries */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 200px) and (max-width: 950px) {
    .logo_container {
        display: flex;
        justify-content: flex-start;
    }
    .jumbo_text h1 {
        font-size: 3.3em!important;
        font-family: 'Stick No Bills', sans-serif;
        font-weight: bold;
        color: #698f53;
        margin-top: -12px;
        text-transform: uppercase;
    }
    #informations_section h2 {
        font-weight: 700!important;
        color: #a1bc98;
        text-align: center;
    }
    .consultazione_paragraph {
        text-align: left!important;
    }
    .informations_wrapper {
        text-align: left!important;
    }
    .jumbo_text {
        background-color: transparent;
        margin-left: 0!important;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .jumbo_text h1 {
        margin-top: 1px!important;
    }
    .margin_menu {
        margin: 0;
    }
    nav {
        background-color: whitesmoke!important;
        text-align: center;
    }
    footer {
        margin-top: 15px;
        width: 100%;
        z-index: 10000;
        font-size: 0.9em;
        background-image: url('footer.JPG');
        padding-bottom: 30px;
        height: 600px;
    }
    .footer_wrapper {
        align-items: left;
    }
    footer h2 {
        font-size: 2.5em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fcfcfa;
        margin-bottom: 16px;
        margin-top: 15px;
        display: inline-block;
    }
    .larghezza_terzo_footer {
        width: 100%!important;
    }
    .campo_cellulare img,
    .campo_mail img,
    .campo_via img {
        width: 40px;
    }
    .larghezza_secondo_footer {
        width: 100%!important;
    }
    .larghezza_primo_footer {
        width: 100%!important;
        font-weight: 500;
    }
    .socials ul {
        display: flex!important;
        flex-direction: row;
    }
    .socials {
        margin: 0!important;
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-around;
        vertical-align: middle;
    }
    .my_menu li:first-child {
        margin-top: 8px;
    }
    .my_menu li a:hover {
        color: grey!important;
        border: none!important;
    }
    .socials li a:hover {
        transform: none!important;
    }
    #news_container {
        margin-bottom: 30px;
    }
    .footer_wrapper div:last-child {
        margin-top: 20px;
    }
}


/* Medium devices (tablets, 768px and up) */


/* Devices 767px */

@media screen and (min-width: 577px) and (max-width: 767px) {
    #reviews_section {
        padding-top: 150px!important;
    }
    .ms_container {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center!important;
    }
    .images_container {
        margin: auto;
        height: 90%;
        width: 100%!important;
        margin-top: 35px;
    }
    .slide_prev,
    .slide_next {
        bottom: 40%;
        transform: translateY(-40%);
    }
    .slide_prev {
        right: 105%!important;
    }
    .slide_next {
        left: 105%!important;
    }
    .reviews_wrapper {
        padding: 0!important;
    }
    /* .ms_wrapper {
        height: 100%;
        width: 130%;
        position: relative;
    } */
}

@media screen and (min-width: 278px) and (max-width: 1080px) {
    .footer_wrapper {
        flex-direction: column;
    }
    #news_container {
        height: 225px!important;
        width: 375px!important;
    }
    footer {
        height: 750px;
    }
    .consultazione_title {
        font-size: 1.3em!important;
        font-weight: 700!important;
        color: #ae5b34!important;
    }
    .titolo_1,
    .titolo_2,
    .titolo_3 {
        width: auto;
    }
    .titolo_1,
    .titolo_2,
    .titolo_3 {
        width: auto;
        text-align: center!important;
    }
    .titolo_2 {
        margin: 0;
    }
    .larghezza_primo_footer {
        font-size: 15px;
    }
}

@media screen and (min-width: 1339px) and (max-width: 1500px) {
    #jumbotron {
        z-index: 999;
        background-image: url('Cattura_totale.JPG');
        height: 600px!important;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1055px) and (max-width: 1290px) {
    .footer_wrapper div {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 1895px) and (max-width: 2525px) {
    footer {
        background-repeat: repeat-x!important;
        background-size: cover!important;
        padding-top: 100px!important;
    }
}


/* Large devices (desktops, 992px and up) */


/* @media (min-width: 992px) {
    ...
} */


/* Extra large devices (large desktops, 1200px and up) */


/* @media (min-width: 1200px) {
    ...
} */


/* Fine Media Queries */


/* --- Sezione Chi Sono */

#chi_sono_container {
    width: 100%;
    /* border-bottom: 10px groove antiquewhite; */
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scopri_container {
    display: flex;
    margin-top: 50px;
    margin-left: 79px;
}

.scopri_container button {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fcfcfa;
    border-radius: 10px;
    border: 3px solid #a49c8f;
}

.scopri_container a button {
    font-size: 1em;
    color: #a49c8f;
    font-weight: 600;
    text-transform: uppercase;
}

.scopri_container a button:hover {
    text-decoration: none;
}

.scopri_container a:hover button {
    text-decoration: none;
    background-color: rgba(216, 200, 179, 0.623);
    border-color: #fcfcfa;
}

.scopri_container a:hover button {
    color: #fcfcfa!important;
}

.scopri_container :focus,
.scopri_container :active {
    outline: none;
}

.chi_sono_p_img {
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chi_sono_p_img ul {
    margin-bottom: 30px;
}

.chi_sono_p_img .percorso_title {
    font-weight: 700;
}

.chi_sono_p_img .percorso_title {
    margin-bottom: 15px;
    color: #a1bc99;
    text-align: right;
}


/* Inizio Informations Section */

#informations_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.informations_wrapper {
    width: 75%;
    text-align: justify;
}

.ms_container {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    height: 80%;
}

.titolo_informativo {
    font-weight: 700;
    color: #a1bc99;
    margin-bottom: 15px;
}

.reviews_wrapper img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 20px;
}

.reviews_wrapper {
    display: flex;
    justify-content: space-between;
}


/* --- Fine parte dello Slider */


/* Footer */


/* Fine Reviews Section */

.footer_container {
    padding-top: 130px;
}

#svg_3 {
    display: inline-block;
    z-index: 10000;
}

.svg_container_3 {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.parent_svg_3 {
    z-index: 1000;
    width: 100%;
    transform: scale(1, -1);
}

footer {
    padding: 30px;
    padding-top: 15px;
    width: 100%;
    z-index: 10000;
    font-size: 0.9em;
    background-image: url('footer.JPG');
    background-color: #a1bc99;
    width: 100%;
    padding-bottom: 30px;
    background-repeat: repeat-x!important;
    background-size: cover!important;
    padding-top: 100px!important;
}

footer h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #fcfcfa;
    margin-bottom: 16px;
    margin-top: 15px;
    display: inline-block;
}

.larghezza_terzo_footer {
    width: 30%;
    border: none;
}

.campo_cellulare img,
.campo_mail img,
.campo_via img {
    width: 40px;
}

.campo_cellulare {
    color: #fcfcfa!important;
}

.larghezza_secondo_footer {
    width: 30%;
    border: none;
}

.larghezza_primo_footer {
    width: 40%;
    font-weight: 500;
    border: none;
}

.footer_wrapper {
    font-size: 1.2em;
    margin-left: auto;
    display: flex;
    background-color: #a1bc99;
    border: none;
}

.appuntamento {
    font-weight: 700;
    margin-top: 30px;
    font-size: 1.5em;
}

.logo_ila_footer_2 {
    line-height: 1!important;
}

.footer_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_wrapper div {
    flex-direction: column;
    color: #fcfcfa;
}

.footer_wrapper .contatti {
    display: flex;
    flex-direction: column!important;
    color: #fcfcfa;
}

.footer_wrapper .logo {
    width: 200px;
    vertical-align: middle;
}

.social {
    margin-right: 10px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
    list-style-type: none;
}

.social:last-child {
    margin: 0;
}

.social .insta {
    font-size: 35px;
}

.social a {
    color: black;
}

.social a:hover {
    color: orange;
}

.logo_psico img {
    width: 120px;
}